{% extends "Base.html" %}
{% load static %}



{% block content %}
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="https://assets.website-files.com/61003e54d0ee8c281a970a66/css/shopkeepertemplate.webflow.bc7fdbc74.css"
    rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
  <link
    href="https://assets.website-files.com/61003e54d0ee8c281a970a66/61089bca6d73d3a96330d806_favicon-shop-x-webflow-template.svg"
    rel="shortcut icon" type="image/x-icon" />
  <link
    href="https://assets.website-files.com/61003e54d0ee8c281a970a66/61089bce733bd78083c7ed7a_webclip-shop-x-webflow-template.svg"
    rel="apple-touch-icon" />
</div>
</div>
</div>

    <section class="h-100 gradient-custom">
  <div class="container py-5">

    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Address</h4>
          <form class="needs-validation" method="POST" >
            <div class="row">
              <div class="col-md-6 mb-3">
                {% csrf_token %}
                <label  for="firstName">Name</label>
                <input type="text" name="name" class="form-control" id="firstName" placeholder=""   required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName" >Phone</label>
                <input type="number" name="phone" class="form-control" id="lastName" placeholder="" name="phone" max="9999999999" oninvalid="this.setCustomValidity('Only 10 digits allowed')"
  oninput="this.setCustomValidity('')" required/>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">

              <div class="input-group">
                <div class="input-group-prepend">

                </div>


              </div>
            </div>

            <div class="mb-3">
              <label for="email" >Email <span class="text-muted">(Optional)</span></label>
              <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com" name="email" >

            </div>

            <div class="mb-3">
              <label for="address" >Address</label>
              <input type="text" name="address1" class="form-control" id="address" placeholder="1234 Main St"   required>

            </div>

            <div class="mb-3">
              <label for="address2" >Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" name="address2" class="form-control" id="address2" placeholder="Apartment or suite" >
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country" >Country</label>
                <select class="custom-select d-block w-100" id="country" name="country" required>
                  <option value="">Choose...</option>
                  <option value="United States">United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state" name="state">State</label>
                <select class="custom-select d-block w-100" id="state" name="state" required>
                  <option value="">Choose...</option>
                  <option value="California">California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip" name="zip">Zip</label>
                <input type="number" class="form-control" id="zip" name="zip" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>





            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save address</button>
          </form>
        </div>
      <div class="col-md-8">
        <div class="card mb-4">

          <div class="card-header py-3">
            <h5 class="mb-0">Address</h5>
          </div>
          {% for i in ob %}
          <div class="card-body">
            <!-- Single item -->
            <div class="row">


              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{ i.name }}</strong></p>
                <p>{{ i.email }}</p>
                <p>{{ i.phone}}</p>
                <p>{{ i.zip }}</p>










                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                <p>{{ i.address1 }}</p>
                <p>{{ i.address2 }}</p>
                <p>{{ i.country }}</p>
                <p>{{ i.state }}</p>

                <!-- Price -->
              </div>
              <a href="{% url 'editaddress' i.id %}" >Edit</a>
            </div>
            <!-- Single item -->

            <hr class="my-4" />
            {% endfor %}


          </div>
        </div>
        </div>

<!--      <div class="col-md-4">-->
<!--        <div class="card mb-4">-->
<!--          <div class="card-header py-3">-->
<!--            <h5 class="mb-0">Summary</h5>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <ul class="list-group list-group-flush">-->
<!--              <li-->
<!--                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">-->
<!--                Products-->
<!--                <span>${{ total_amount }}</span>-->
<!--              </li>-->
<!--              <li class="list-group-item d-flex justify-content-between align-items-center px-0">-->
<!--                Shipping-->
<!--                <span>Gratis</span>-->
<!--              </li>-->
<!--              <li-->
<!--                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">-->
<!--                <div>-->
<!--                  <strong>Total amount</strong>-->
<!--                  <strong>-->
<!--                    <p class="mb-0">(including VAT)</p>-->
<!--                  </strong>-->
<!--                </div>-->
<!--                <span><strong>${{ total_amount }}</strong></span>-->
<!--              </li>-->
<!--            </ul>-->

<!--            <button type="button" class="btn btn-primary btn-lg btn-block">-->
<!--              <a href="{% url 'checkout' %}">Checkout</a>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

</section>
{% endblock %}

