<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="center">
    <div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
      <div class="row">
 <div class="card-body" style="text-align:center;width:100%">
              <table style="text-align:center;width:100%">

                    <tr>
                    <th>ProductName</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                    {% for i in cart %}
                    <tr>
                    <td>{{ i.product.title }}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.total_price}}</td>
                  </tr>
                    {% endfor %}

                </table>
              <strong>Total Price : {{t}}</strong>
          </div>
        <div class="col-xl-12">
          <p class="float-end fw-bold">Total: $ {{ t }}
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>


    </div>
  </div>
</div>
  <script src="https://www.paypal.com/sdk/js?client-id=AW7FJ_qs4hdCK9KTnSBTZAlum342wW39QLYTd-kUJbI7hQ0ZsCPEFRoiGbq2ldNcFnWDrQTKojU3hZ-j&currency=USD"></script>

<div id="paypal-button-container"></div>


    <script>
          // Generating csrf_token on the fly
          function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
          }
          return cookieValue;
}

          let amount = "{{ t }}"
          const url = "{% url 'payments' %}"
          let csrftoken = getCookie('csrftoken');
          let orderID = "{{ord1}}"
          const payment_method = 'PayPal'
          const redirect_url = "{% url 'successp' %}"
          const order_errors_url = "{% url 'checkout' %}"
          // Render the PayPal button into #paypal-button-container
          const paypalButtonsComponent = paypal.Buttons({
              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
                color: "gold",
                shape: "pill",
                layout: "vertical"
              },

              // set up the transaction
              createOrder: (data, actions) => {
                  // pass in any options from the v2 orders create call:
                  // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                  const createOrderPayload = {
                      purchase_units: [
                          {
                              amount: {
                                  value: amount
                              }
                          }
                      ]
                  };

                  return actions.order.create(createOrderPayload);
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                  const captureOrderHandler = (details) => {
                      const payerName = details.payer.name.given_name;
                      transaction_id = details['purchase_units'][0]['payments']['captures'][0].id
                      //console.log(transaction_id)
                      sendData();
                      function sendData() {
                        fetch(url, {
                            method: "POST",
                            headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                paypal_transaction_id: transaction_id,
                                payment_method: payment_method,
                                status: details.status,
                            }),
                        })
                         .then((response) => response.json())
                         .then((data) => {
                            window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                        });
                      }
                  };

                  return actions.order.capture().then(captureOrderHandler);
              },

              // handle unrecoverable errors
              onError: (err) => {
                  // console.error('An error prevented the buyer from checking out with PayPal');
                  window.location.href = order_errors_url
              }
          });

          paypalButtonsComponent
              .render("#paypal-button-container")
              .catch((err) => {
                  console.error('PayPal Buttons failed to render');
              });

</script>




<!--  <script>-->
<!--  var URL = '{% url 'success' %}'-->


<!--      paypal.Buttons({-->
<!--        // Sets up the transaction when a payment button is clicked-->
<!--        createOrder: (data, actions) => {-->
<!--          return actions.order.create({-->
<!--            purchase_units: [{-->
<!--              amount: {-->
<!--                value: '{{ t }}' // Can also reference a variable or function-->
<!--              }-->
<!--            }]-->
<!--          });-->
<!--        },-->
<!--        // Finalize the transaction after payer approval-->
<!--        onApprove: (data, actions) => {-->
<!--          return actions.order.capture().then(function(orderData) {-->
<!--            // Successful capture! For dev/demo purposes:-->
<!--            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));-->
<!--            const transaction = orderData.purchase_units[0].payments.captures[0];-->
<!--            actions.redirect('http://127.0.0.1:8000/success/');-->
<!--              var xhr = new XMLHttpRequest();-->
<!--                var url = "{% url 'success' %}";-->
<!--                xhr.open("POST", url, true);-->
<!--                xhr.setRequestHeader("Content-Type", "application/json");-->
<!--                xhr.onreadystatechange = function () {-->
<!--                    if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--                        var json = JSON.parse(xhr.responseText);-->
<!--                        console.log(json.email + ", " + json.password);-->
<!--                    }-->
<!--                };-->
<!--                var data1 = JSON.stringify({order: data.orderID});-->
<!--                        xhr.send(data1);-->
<!--          });-->
<!--        }-->

<!--      }).render('#paypal-button-container');-->
<!--    </script>-->


<!--   <script>-->

<!--      function getCookie(name) {-->
<!--        let cookieValue = null;-->
<!--        if (document.cookie && document.cookie !== '') {-->
<!--            const cookies = document.cookie.split(';');-->
<!--            for (let i = 0; i < cookies.length; i++) {-->
<!--                const cookie = cookies[i].trim();-->
<!--                // Does this cookie string begin with the name we want?-->
<!--                if (cookie.substring(0, name.length + 1) === (name + '=')) {-->
<!--                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));-->
<!--                    break;-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--        return cookieValue;-->
<!--    }-->

<!--      var amount = "{{ t }}"-->
<!--      var url = "{% url 'payments' %}"-->
<!--      var csrftoken = getCookie('csrftoken');-->
<!--      var orderID = "{{ord1}}"-->
<!--      var payment_method = 'PayPal'-->
<!--      var redirect_url = "{% url 'success' %}"-->
<!--      // Render the PayPal button into #paypal-button-container-->
<!--      paypal.Buttons({-->

<!--        style: {-->
<!--          color: 'blue',-->
<!--          shape: 'rect',-->
<!--          label: 'pay',-->
<!--          height: 40-->
<!--        },-->

<!--        // Set up the transaction-->
<!--        createOrder: function(data, actions) {-->
<!--          return actions.order.create({-->
<!--            purchase_units: [{-->
<!--              amount: {-->
<!--                value: amount,-->
<!--              }-->
<!--            }]-->
<!--          });-->
<!--        },-->

<!--        // Finalize the transaction-->
<!--        onApprove: function(data, actions) {-->
<!--          return actions.order.capture().then(function(details) {-->
<!--            // Show a success message to the buyer-->
<!--            console.log(details);-->
<!--            sendData();-->
<!--            function sendData(){-->
<!--              fetch(url, {-->
<!--                method : "POST",-->
<!--                headers: {-->
<!--                  "Content-type": "application/json",-->
<!--                  "X-CSRFToken": csrftoken,-->
<!--                },-->
<!--                body: JSON.stringify({-->
<!--                  orderID: orderID,-->
<!--                  transID: details.id,-->
<!--                  payment_method: payment_method,-->
<!--                  status: details.status,-->
<!--                }),-->
<!--              })-->
<!--              .then((response) => response.json())-->
<!--              .then((data) => {-->
<!--                window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;-->
<!--              });-->
<!--            }-->
<!--          });-->
<!--        }-->


<!--      }).render('#paypal-button-container');-->

<!--    </script>-->


</div>


</div>
</body>
</html>