{% extends "adminbase.html" %}


        {% block content %}
        <div class="row ">




<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

            <div class="container">

    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers">{{product_count}}</span>
        <span class="count-name">Products</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">{{order_count}}</span>
        <span class="count-name">Orders</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">{{total_income}}</span>
        <span class="count-name">Total Income</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">{{user_count}}</span>
        <span class="count-name">Users</span>
      </div>
    </div>
  </div>
</div>

    <div class="col-md-6 my-4">
        <div class="bg-white">
            <div class="card-body" style="text-align:center;">
                <h5>Weekly Sales</h5>
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in weekly_sales %} '{{i.name}}', {% endfor %}],
                    datasets: [{
                        label: 'Orders',
                        data: [{% for i in weekly_sales %} {{ i.value }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="col-md-6 my-4">

        <div class="bg-white">
            <div class="card-body" style="text-align:center;">
                <h5>Monthly Sales</h5>
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [{% for i in monthly_sales %} '{{i.name}}', {% endfor %}],
                    datasets: [{
                        label: 'Orders',
                        data: [{% for i in monthly_sales %} {{ i.value }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>
            <div class="col-md-12 my-4">
        <div class="bg-white">
            <div class="card-body" style="text-align:center;">
                <table class="container table" id="table" >
                    <thead>

                    <tr>
    <th>OrderID</th>
    <th>DeliveryStatus</th>
    <th>MONTH</th>
    <th id="col_3">YEAR</th>
    <th>Amount Paid</th>
  </tr>
                    </thead>
                    <tbody>
                    {% for i in lol %}
  <tr>
    <td>{{ i.order_id }}</td>
    <td>{{i.delivery_status}}</td>
    <td>{{i.month}}</td>
    <td>{{i.year}}</td>
    <td>{{i.total_price}}</td>

  </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
            <tr>
               <th>OrderID</th>
    <th>DeliveryStatus</th>
    <th>MONTH</th>
    <th >YEAR</th>
    <th>Amount Paid</th>
            </tr>
        </tfoot>
                </table>
<!--                                                 <script type="text/javascript" charset="utf8"-->
<!--                src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>-->
<!--                <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>-->
<!--                <script src="-->
<!--                https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js-->
<!--                "></script>-->
<!--                <script src="-->
<!--                https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js-->
<!--                "></script>-->
<!--                <script src="-->
<!--                https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js-->
<!--                "></script>-->
<!--                <script src="-->
<!--                https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js-->
<!--                "></script>-->
<!--                <script src="-->
<!--                https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js-->
<!--                "></script>-->

                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="
  https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js
      "></script>
    <script src="
  https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js
      "></script>
    <script src="
  https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js
      "></script>
    <script src="
  https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js
      "></script>
    <script src="
  https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js
      "></script>

                <script>
      $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#table').DataTable({
          dom: 'Bfrtip',
          buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
          ],
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
        });
    });
    </script>




<!--                <script>-->
<!--                  $(function () {-->
<!--                    $('#table').DataTable({-->
<!--                      dom: 'Bfrtip',-->
<!--                      buttons: [-->
<!--                        'copy', 'csv', 'excel', 'pdf', 'print'-->
<!--                      ],-->
<!--                      "ordering":false-->
<!--                    });-->
<!--                  });-->
<!--                </script>-->

                <script>
                    const element = document.getElementById("table_filter");
                    element.style.visibility= "hidden";
                </script>
                <style>
<!--    .dataTables_filter{-->
<!--    visibility:hidden;-->
<!--    }-->
<!--    .dataTables_info{-->
<!--    visibility:hidden;-->
<!--    }-->
<!--    .dataTables_paginate{-->
<!--    visibility:hidden;-->
<!--    }-->
      .buttons-copy{
        background: aqua;
        color: white;
      }
      .buttons-csv{
        background: red;
        color: white;
        border-color: black;
      }
      .buttons-excel{
        background:lime;
        color: white;
        border-color: black;
        border-radius: 5%;
        border: 5px;
      }
      .buttons-pdf{
        background:orange;
        color: white;
        border-color: black;
        border-radius: 5%;
        border: 5px;
      }
      .buttons-print{
        background:blue;
        color: white;
        border-color: black;
        border-radius: 5%;
        border: 5px;
      }
      .dataTables_filter{
        float: right;
        color: red;
        font-weight: 500;
      }
      .paginate_button{
        margin-right: 5px;
      }
    </style>


            </div>
        </div>
            </div>

            {% endblock %}
